agent-utilities[embeddings-openai,mcp]>=2.0.0,<3.0.0
markdownify>=1.2.2
beautifulsoup4>=4.14.3
ebooklib>=0.20
html2text>=2025.4.15
ipython>=1.0.0
pypdf>=6.7.2
protobuf>=6.33.5
llama-index-core>=0.14.15
llama-index-readers-file>=0.5.6
